on:
  push:
    branches:
      - main
  workflow_dispatch:
    
jobs:
  build-api:
    name: "Bygger applikasjonen"
    uses: HelseVestIKT/HVI-Felles-WorkFlows/.github/workflows/build-dotnet-app.yaml@24-håndtering-av-secrets-i-appsettings-ved-deploy
    with:
      project-directory: './API'
      artifact-name: 'api'
      dotnet-version: '9.x'
    secrets: inherit

  build-angular-app:
    name: "Bygger Angular applikasjonen"
    uses: HelseVestIKT/HVI-Felles-WorkFlows/.github/workflows/build-angular-app.yaml@24-håndtering-av-secrets-i-appsettings-ved-deploy
    with:
      environment: ${{ inputs.environment }}
      project-directory: 'web'
      artifact-name: 'web'


  deploy:
    name: "Provision og deploy til ${{ matrix.environment }}"  
    needs: [build-api, build-angular-app]
    strategy:
      max-parallel: 1
      fail-fast: true
      matrix:
        environment: [DEV, QA] 
    uses: ./.github/workflows/deploy-to-env.yaml 
    with:
      environment: ${{ matrix.environment }}
    secrets: inherit
    permissions:
      contents: read
      id-token: write 

