on:
  push:
    branches:
      - main
  workflow_dispatch:
    
jobs:
  build-api:
    name: "Bygger applikasjonen"
    uses: HelseVestIKT/HVI-Felles-WorkFlows/.github/workflows/build-dotnet-app.yaml@v1.0.3
    with:
      environment: 'Totalt overflødig, må bort'
      working-directory: 'API'
      artifact-name: 'api'
      dotnet-version: '9.x'

  deploy:
    name: "Provision og deploy til ${{ matrix.environment }}"  
    needs: build-api
    strategy:
      max-parallel: 1
      fail-fast: true
      matrix:
        environment: [DEV, QA] 
    uses: ./.github/workflows/deploy-to-env.yaml 
    with:
      environment: ${{ matrix.environment }}
    secrets: inherit
    permissions:
      contents: read
      id-token: write 

