on:
  push:
    branches:
      - main
  workflow_dispatch:
    
jobs:
  build-api:
    name: "Bygger applikasjonen"
    uses: HelseVestIKT/HVI-Felles-WorkFlows/.github/workflows/build-dotnet-app.yaml@v2.0.9
    with:
      project-directory: './API'
      artifact-name: 'api'
      dotnet-version: '9.x'
    secrets: inherit

  build-function:
    name: "Bygger applikasjonen"
    uses: HelseVestIKT/HVI-Felles-WorkFlows/.github/workflows/build-dotnet-function.yaml@feature/func
    with:
      project-directory: './function'
      artifact-name: 'function-app'
      dotnet-version: '9.x'
    secrets: inherit

  deploy:
    name: "Provision og deploy til ${{ matrix.environment }}"  
    needs: [build-api, build-function]
    
    strategy:
      max-parallel: 1
      fail-fast: true
      matrix:
        # environment: [DEV, QA, PROD] 
        environment: [DEV] 
    uses: ./.github/workflows/deploy-to-env.yaml 
    with:
      environment: ${{ matrix.environment }}
    secrets: inherit
    permissions:
      contents: read
      id-token: write
      issues: write 
