on:
  push:
    branches:
      - main
jobs:
  build_and_deploy:
    name: "Deploy ${{ matrix.environment }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true # If one job fails, the others will not run
      max-parallel: 1 # Limit the number of parallel jobs
      matrix:
        environment: [DEV, QA, PROD]    
    
    steps:      
        - uses: print-env
          with:
            environment: ${{ matrix.environment }}
            
    
