name: "Provision og deploy til miljø"
on:
  workflow_call:
    inputs:
      environment:
        description: "Environment man vil deploye til"
        required: true
        type: string
jobs:

  provision-angular-app-service:
    name: "Provision Angular App Service for ${{ inputs.environment }}"
    uses: HelseVestIKT/HVI-Felles-WorkFlows/.github/workflows/provision-app-service.yaml@23-trenger-å-få-lagt-inn-applicationinsights_connection_string-i-deploy
    secrets: inherit
    with:
      environment: ${{ inputs.environment }}
      artifact-name: 'web'
      ekstern-tilgang: false
    permissions:
      contents: read
      id-token: write

  provision-app-service:
    name: "Deploy til ${{ inputs.environment }}"
    uses: HelseVestIKT/HVI-Felles-WorkFlows/.github/workflows/provision-app-service.yaml@23-trenger-å-få-lagt-inn-applicationinsights_connection_string-i-deploy
    needs: provision-angular-app-service
    secrets: inherit
    with:
      environment: ${{ inputs.environment }}
      artifact-name: 'api'
      ekstern-tilgang: false
    permissions:
      contents: read
      id-token: write

  deploy-db:
    name: "Deploy database til ${{ inputs.environment }}"
    uses: HelseVestIKT/HVI-Felles-WorkFlows/.github/workflows/deploy-database.yaml@23-trenger-å-få-lagt-inn-applicationinsights_connection_string-i-deploy
    needs: provision-app-service
    with:
      environment: ${{ inputs.environment }}
      db-name: ${{vars.APP_NAME}}-api
    secrets: inherit
    permissions:
      contents: read
      id-token: write

  print-connection-string-from-deploy-db:
    name: "Print connection string for ${{ inputs.environment }}"
    runs-on: ubuntu-latest
    needs: deploy-db
    steps:
      - name: Print connection string
        run: |
          echo "Connection string for ${{ inputs.environment }}: ${{ needs.deploy-db.outputs.sqlconnectionstring }}"

  add-managed-id:
    name: "Legg til managed identity for ${{ inputs.environment }}"
    needs: [deploy-db, provision-app-service, print-connection-string-from-deploy-db]
    uses: HelseVestIKT/HVI-Felles-WorkFlows/.github/workflows/add-managedid-to-database.yaml@23-trenger-å-få-lagt-inn-applicationinsights_connection_string-i-deploy
    with:
      environment: ${{ inputs.environment }}
      app-name: ${{ vars.APP_NAME }}-api
      sql-connection-string: ${{ needs.deploy-db.outputs.sqlconnectionstring }}
    secrets: inherit
    permissions:
      contents: read
      id-token: write

  deploy-api:
    name: "Deploy API til ${{ inputs.environment }}"
    needs: [add-managed-id, deploy-db]
    uses: HelseVestIKT/HVI-Felles-WorkFlows/.github/workflows/deploy-dotnet-app.yaml@23-trenger-å-få-lagt-inn-applicationinsights_connection_string-i-deploy
    with:
      environment: ${{ inputs.environment }}
      artifact-name: 'api'
      connection-string-navn: 'KladdebokDbConnection'
      connection-string: ${{ needs.deploy-db.outputs.sqlconnectionstring }}
      cors: 'https://orsl-kladdebok.azurewebsites.net, https://orsl-kladdebok.no'
    secrets: inherit
    permissions:
      contents: read
      id-token: write

  deploy-web:
    name: "Deploy Web til ${{ inputs.environment }}"
    needs: [provision-angular-app-service]
    uses: HelseVestIKT/HVI-Felles-WorkFlows/.github/workflows/deploy-angular-app.yaml@23-trenger-å-få-lagt-inn-applicationinsights_connection_string-i-deploy
    with:
      environment: ${{ inputs.environment }}
      artifact-name: 'web'     
    secrets: inherit
    permissions:
      contents: read
      id-token: write
