name: "Print Environment Variables"
on:
  workflow_call:
    inputs:
      environment:
        description: "Environment man vil deploye til"
        required: true
        type: string
jobs:  
  deploy:
    name: "Deploy til ${{ inputs.environment }}"
    uses: HelseVestIKT/HVI-Felles-WorkFlows/.github/workflows/provision-app-service.yaml@main
    secrets: inherit
    with:
      environment: ${{ inputs.environment }}
      artifact-name: 'api'
      ekstern-tilgang: false
    permissions:
      contents: read
      id-token: write

