name: "Provision og deploy til miljø"
on:
  workflow_call:
    inputs:
      environment:
        description: "Environment man vil deploye til"
        required: true
        type: string
jobs:
  approve-environment:
    name: "Godkjenn deploy til ${{ inputs.environment }}"
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - name: Godkjenn deploy, hent ut alle variabler og secrets for mijøet og legg dem i to variabler som gjenbrukes av andre steg
        id: approve
        run: |
          echo "Godkjenner deploy til ${{ inputs.environment }}"
          echo "Henter ut alle variabler og secrets for ${{ inputs.environment }}"
          echo '${{ toJSON(vars) }}'
          echo '${{ toJSON(secrets) }}'
          vars_json='${{ toJSON(vars) }}'
          secrets_json='${{ toJSON(secrets) }}'

          # Lagre som compressed JSON (én linje)
          vars_json=$(echo '${{ toJSON(secrets) }}' | jq -c .)
          secrets_json=$(echo '${{ toJSON(vars) }}' | jq -c .)

          # print content for debugging
          echo "Vars JSON:$vars_json"
          echo "Secrets JSON:$secrets_json"

          echo "vars_json=$vars_json" >> $GITHUB_OUTPUT
          echo "secrets_json=$secrets_json" >> $GITHUB_OUTPUT
    outputs:
        vars_json: ${{ steps.approve.outputs.vars_json }}
        secrets_json: ${{ steps.approve.outputs.secrets_json }}


  debug-before-deploy:
    name: "Debug før deploy"
    needs: [approve-environment]
    runs-on: ubuntu-latest
    steps:
      - name: Debug outputs fra approve-environment
        run: |
          echo "=== DEBUGGING OUTPUTS ==="
          echo "vars_json fra approve-environment:"
          echo '${{ needs.approve-environment.outputs.vars_json }}'
          echo ""
          echo "secrets_json fra approve-environment:"
          echo '${{ needs.approve-environment.outputs.secrets_json }}'
          echo ""
          echo "=== END DEBUG ==="

  build-angular-app:
    name: "Bygger Angular applikasjonen"
    uses: HelseVestIKT/HVI-Felles-WorkFlows/.github/workflows/build-angular-app.yaml@24-håndtering-av-secrets-i-appsettings-ved-deploy
    needs: approve-environment
    with:
      environment: ${{ inputs.environment }}
      working-directory: 'web'
      artifact-name: 'web'

  provision-angular-app-service:
    name: "Provision Angular App Service for ${{ inputs.environment }}"
    uses: HelseVestIKT/HVI-Felles-WorkFlows/.github/workflows/provision-app-service.yaml@24-håndtering-av-secrets-i-appsettings-ved-deploy
    needs: build-angular-app
    secrets: inherit
    with:
      environment: ${{ inputs.environment }}
      artifact-name: 'web'
      ekstern-tilgang: false
      debug: false
    permissions:
      contents: read
      id-token: write

  provision-app-service:
    name: "Deploy til ${{ inputs.environment }}"
    uses: HelseVestIKT/HVI-Felles-WorkFlows/.github/workflows/provision-app-service.yaml@24-håndtering-av-secrets-i-appsettings-ved-deploy
    needs: provision-angular-app-service
    secrets: inherit
    with:
      environment: ${{ inputs.environment }}
      artifact-name: 'api'
      ekstern-tilgang: false
      debug: false
    permissions:
      contents: read
      id-token: write

  deploy-db:
    name: "Deploy database til ${{ inputs.environment }}"
    uses: HelseVestIKT/HVI-Felles-WorkFlows/.github/workflows/deploy-database.yaml@24-håndtering-av-secrets-i-appsettings-ved-deploy
    needs: provision-app-service
    with:
      environment: ${{ inputs.environment }}
      db-name: ${{vars.APP_NAME}}-api
    secrets: inherit
    permissions:
      contents: read
      id-token: write

  print-connection-string-from-deploy-db:
    name: "Print connection string for ${{ inputs.environment }}"
    runs-on: ubuntu-latest
    needs: deploy-db
    steps:
      - name: Print connection string
        run: |
          echo "Connection string for ${{ inputs.environment }}: ${{ needs.deploy-db.outputs.sqlconnectionstring }}"

  add-managed-id:
    name: "Legg til managed identity for ${{ inputs.environment }}"
    needs: [deploy-db, provision-app-service, print-connection-string-from-deploy-db]
    uses: HelseVestIKT/HVI-Felles-WorkFlows/.github/workflows/add-managedid-to-database.yaml@24-håndtering-av-secrets-i-appsettings-ved-deploy
    with:
      environment: ${{ inputs.environment }}
      app-name: ${{ vars.APP_NAME }}-api
      sql-connection-string: ${{ needs.deploy-db.outputs.sqlconnectionstring }}
    secrets: inherit
    permissions:
      contents: read
      id-token: write

  deploy-api:
    name: "Deploy API til ${{ inputs.environment }}"
    # needs: [add-managed-id, deploy-db, approve-environment]
    needs: [approve-environment, debug-before-deploy]
    uses: HelseVestIKT/HVI-Felles-WorkFlows/.github/workflows/deploy-dotnet-app.yaml@24-håndtering-av-secrets-i-appsettings-ved-deploy
    with:
      environment: ${{ inputs.environment }}
      artifact-name: 'api'
      connection-string-name: 'KladdebokDbConnection'
      connection-string: ${{ needs.deploy-db.outputs.sqlconnectionstring }}

    permissions:
      contents: read
      id-token: write

  # deploy-web:
  #   name: "Deploy Web til ${{ inputs.environment }}"
  #   needs: [provision-angular-app-service, build-angular-app]
  #   uses: HelseVestIKT/HVI-Felles-WorkFlows/.github/workflows/deploy-angular-app.yaml@31-miljø-i-angular
  #   with:
  #     environment: ${{ inputs.environment }}
  #     commit-hash: ${{ github.sha }}
  #     artifact-name: 'web'

  #   secrets: inherit
  #   permissions:
  #     contents: read
  #     id-token: write
