name: "Print Environment Variables"
on:
  workflow_call:
    inputs:
      environment:
        description: "Environment to deploy to"
        required: true
        type: string
jobs:
  deploy_to_environment:
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-latest
    steps:
      - name: Print environment variables
        run: |
          echo "Deployer lissom applikasjonen til ${{ inputs.environment }}"
