on:
  pull_request:
    branches:
      - main

jobs:
  check_pull_request:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Print status
        run: echo "Pull request event detected. Running SonarQube analysis."

# Herfra legger du til din egen logikk og bruker felles workflows der det er mulig. Husk å bruke release-tagger når du refererer felles workflows
# Det naturlige er å kjøre bygg og tester samt scan med SonarQube